<h4>Formularios <small>Aproximación por data</small></h4>
<hr>
<form [formGroup]="forma" (ngSubmit)="guardarCambios()" class="needs-validation" novalidate>

    <div formGroupName="nombrecompleto" class="form-row col-md-4 ">

      <div class="col-md-12 m-1">
         <input type="text" class="form-control" [ngClass]="{ 'is-invalid' : !forma.controls['nombrecompleto'].controls['nombre'].valid && forma.controls['nombrecompleto'].controls['nombre'].touched }"  placeholder="Nombre" formControlName="nombre">
         <div class="invalid-feedback" *ngIf="!forma.controls['nombrecompleto'].controls['nombre'].errors?.minLength">
           El nombre debe tener como minimo 4 caracteres
         </div>
      </div>

      <div class="col-md-12 m-1">
         <input type="text" class="form-control" [ngClass]="{ 'is-invalid' : !forma.controls['nombrecompleto'].controls['apellido'].valid && forma.controls['nombrecompleto'].controls['apellido'].touched }"  placeholder="Apellido" formControlName="apellido">
      </div>

    </div>

    <div class="form-row col-md-4 ">

      <div class="col-md-12 m-1">
         <input type="email" class="form-control" [ngClass]="{ 'is-invalid' : !forma.controls['correo'].valid && forma.controls['correo'].touched }" placeholder="Correo" formControlName="correo">
         <div class="invalid-feedback" *ngIf="forma.controls['correo'].errors?.pattern">
           El formato no es correcto
         </div>
      </div>

    </div>

    <div class="form-row col-md-4 ">

      <div class="col-md-12 m-1">
         <input type="password" class="form-control" [ngClass]="{ 'is-invalid' : !forma.controls['password1'].valid && forma.controls['password1'].touched }"  placeholder="Password" formControlName="password1">
         <div class="invalid-feedback"  *ngIf="forma.controls['password1'].errors?.pattern">
           <ul>
             <li> Mínimo 8 caracteres y maximo 15 </li>
             <li> Mínimo una letra mayúscula </li>
             <li> Mínimo una letra minúscula </li>
             <li> Mínimo dos numeros </li>
           </ul>
         </div>
      </div>

    </div>

    <div class="form-row col-md-4 ">

      <div class="col-md-12 m-1">
         <input type="password" class="form-control" [ngClass]="{ 'is-invalid' : !forma.controls['password2'].valid && forma.controls['password2'].touched }" placeholder="Repetir Password" formControlName="password2">
         <div class="invalid-feedback" *ngIf="!forma.controls['password2'].errors?.noiguales">
           Las contraseñas no son iguales
         </div>
      </div>

    </div>

    <div class="form-row col-md-4 ">

      <div class="col-md-8 m-1" formArrayName="pasatiempos">
         <input *ngFor="let item of forma.controls['pasatiempos'].controls; let i = index"
                [ngClass]="{ 'is-invalid' : !forma.controls['pasatiempos'].controls[i].valid && forma.controls['pasatiempos'].controls[i].touched }"
                [formControlName]="i"
                type="text" class="form-control mb-2"  placeholder="Pasatiempo" >
      </div>

      <div class="col-md-3 m-1">
         <div class="btn btn-outline-primary" (click)="agregarPasatiempo()">Agregar</div>
      </div>

    </div>

    <div class="col-md-12 m-1">
      <button type="submit" class="btn btn-outline-primary" [disabled]="!forma.valid" >Guardar</button>
    </div>

</form>
